 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-image: url("./images/siteBg.png");
  font-family:'Syne', sans-serif;
}
header {
  display: flex;
  padding: 60px;
  letter-spacing: 2px ;
}
header .brand-name {
  margin-right: auto;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: none;
  text-shadow: 0 0 20px #00cc00, 0 0 40px #00cc00, 0 0 60px #00cc00;
  animation: glow 2s infinite;
}
header a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 1.5rem;
}
nav a {
  padding-right: 30px;
  color: rgba(255, 255, 255, 0.48);
  text-shadow: 0 0 20px #00cc00, 0 0 40px #00cc00, 0 0 60px #00cc00;
  animation: glow 2s infinite;
}
nav a:hover{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.brand-container{
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.developer-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 60px;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.48);
  text-shadow: 0 0 20px #00cc00, 0 0 40px #00cc00, 0 0 60px #00cc00;
  animation: glow 2s infinite;
}
.developer-introduction{
  font-size: 20px;
}
.developer-image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 204, 0, 0.3)
}
.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

}

