 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: #151515;
  font-family:'Syne', sans-serif;
  height: auto;
}

/* Navigation Bar */
header {
  display: flex;
  letter-spacing: 2px ;
  font-family: 'Space Grotesk', sans-serif;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
.nav-bar{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
header .brand-name {
  width: 50%;
  text-shadow: 0 0 20px #00cc00, 0 0 40px #00cc00, 0 0 60px #00cc00;
  animation: glow 2s infinite;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: white;
  transition: color 3s ease; /* Add a transition for the color property */
  text-decoration: none;
  cursor: pointer;
}
header a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem;
}
nav a {
  color: rgba(255, 255, 255, 0.48);
  text-shadow: 0 0 20px #00cc00, 0 0 40px #00cc00, 0 0 60px #00cc00;
  animation: glow 2s infinite;
}
header .brand-name:hover{
  color: green;
}
nav a:hover{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
/* home container */
.home-container{
  display: flex;
  align-items: center;
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  margin-top: 5%;
}
.greeting {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 43px;
}
.introduction-container,
.image-container {
  height: 100%;
  width: 50%;
}
.introduction-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.image-container{
  display: flex;
  justify-content: flex-end;
}
.profile-picture {
  width: 380px;
  height: 100%;
  overflow: hidden;
}
.introduction-message{
  font-size: 20px;
  color:#D9D9D9;
  font-family: "Space Grotesk", sans-serif;
}

/* Footer */
.footer-wrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  text-shadow: 0 0 20px #00cc00, 0 0 40px #00cc00, 0 0 60px #00cc00;
  animation: glow 2s infinite;
}
.social-icon {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 20px rgba(0, 204, 0);
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.5); /* Apply a scale transformation on hover */
  cursor: pointer;
}


