* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: #151515;
  font-family: "Syne", sans-serif;
}
.site-wrapper{
  position: relative;
  min-height: 100vh;
  padding-bottom: 6%;
}
/* Navigation Bar */
header {
  display: flex;
  letter-spacing: 2px;
  font-family: "Space Grotesk", sans-serif;
  overflow: hidden;
  width: 80%;
  margin: 2% auto 0;
}

.nav-bar{
  width: 50%;
  padding-right: 0;
}
#custom-toogle{
  background-color: white;
  margin-left: auto;
}
header .brand-name {
  width: 50%;
  text-shadow: 0 0 20px #00cc00, 0 0 40px #00cc00, 0 0 60px #00cc00;
  animation: glow 2s infinite;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: white;
  transition: color 3s ease; 
  text-decoration: none;
  cursor: pointer;
}
header a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem;
}
header .brand-name:hover {
  color: green;
}
.nav-bar a {
  text-shadow: 0 0 20px #00cc00;
  animation: glow 2s infinite;
  transition: color 1s ease;
  padding-right: 0;
}
.nav-bar a:hover {
  color: white !important; 
  text-decoration: none;
  cursor: pointer;
}
/* home container */
.home-container {
  display: flex;
  align-items: center;
  width: auto;
  margin: 10% auto 0;
  padding-right: 0;
  padding-left: 0;
  justify-content: center;
  align-items: center;
}
.home-row{
  display: flex;
  justify-content: space-around;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20%;
}
.greeting {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 43px;
  line-height: 95px;
}
#name {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
}
#name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #4ee1a0;
  transform-origin: bottom left;
  animation: underlineAnimation 3s ease infinite;
}
@keyframes underlineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.introduction-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.avatar-container {
  padding-right: 0;
  height: 100%;
}
.avatar {
  width: 60%;
  height: 90%;
  overflow: hidden;
  border-radius: 100px;
}
.introduction-message {
  font-size: 20px;
  color: #d9d9d9;
  font-family: "Space Grotesk", sans-serif;
  width: 461px;
}
@media only screen and (min-width: 320px) {
  .greeting{
    font-size: 50px;
  }
  .introduction-message{
    width: 100%;
  }
  .contact-header{
    font-size: 60px !important;
  }
}
/* About section */
.about-container {
  margin: 5% auto;
  width: 80%;
}
.skill-header {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 2%;
}
.skill-introduction {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  opacity: 0.7;
}
/* Tech stacks icons*/

.technology-icon {
  width: 8%;
}
.skill-set-container{
  display: flex;
  margin-top: 5%;
  height: 60vh;
}
.skill-set-container-one,
.skill-set-container-two
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.progress-container{
  display: flex;
  gap: 3%;
  align-items: center;
  width: 100%;
}
/* .two{
  justify-content: flex-end;
} */
.progress-bar{
  width: 50% ;
  background-color:#00cc00
}
/* Project section*/
.project-page {
  width: 100vw;
  margin: 5% auto 0;
  height: auto;
}
.project-header {
  width: 80%;
  margin: 0 auto;
  font-family: "Space Grotesk" sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -2.5px;
}
.project-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2% auto 0;
}
.project-section{
  display: flex;
  flex-direction: column;
}
.image-container{
  width: 100%;
  position: relative;
}
.project-thumb-nail {
  width: 100%;
  height: 70%;
  border-radius: 20px;
  opacity: 1;
}
/* Make a container in each clickable images */
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.image-container:hover img{
  cursor: pointer;
  opacity: 0.4;
}
.image-container:hover .middle {
  cursor: pointer;
  opacity: 1;
}
.text{
  display: flex;
  flex-direction: column;
  gap:2%;
  width: 100%;
}
.text a:hover {
  color: #4ee1a0;
  cursor: pointer;
}
.text a{
  text-decoration: none;
  color: white;
}

.project-content {
  margin-top: 4%;
}
.project-stacks {
  opacity: 0.6;
}
/* Contact section */
.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #242424;
  height: auto;
  margin: 10% auto 18%;
}
.contact-greeting {
  align-self: center;
}
.form-container {
  display: flex;
  align-items: center;
}
.contact-header {
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -2.5px;
}
.contact-message {
  margin-top: 2%;
  opacity: 0.7;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.form-container form {
  display: flex;
  width: 70%;
  flex-direction: column;
}
/* form section */
.form-container label {
  opacity: 0.5;
}
input[type="text"],
textarea {
  border: none;
  border-radius: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  margin-bottom: 10%;
  color: white;
}
#message{
  color: white;
  height:150px;
}

button[type="submit"] {
  background: transparent;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  align-self: flex-end;
  padding-bottom: 2%;
}
button[type="submit"]::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: green;
  position: absolute;
  bottom: 4px;
  left: 0;
}


/* Footer */
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  text-shadow: 0 0 20px #00cc00, 0 0 40px #00cc00, 0 0 60px #00cc00;
  animation: glow 2s infinite;
}
.social-icon {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 20px rgba(0, 204, 0);
  transition: transform 0.3s;
}
.social-icon:hover {
  transform: scale(1.5); /* Apply a scale transformation on hover */
  cursor: pointer;
}
